<form [formGroup]="RoomUnitAllocationView">
    <div class="section-content">
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="layout">
                    <div *ngFor="let item of itemslst;" style="cursor: pointer;">
                        <ul class="roomitems" [ngStyle]="{'background-color': item?.status ? '#D8F2E2' : '#FFD1D1' }">
                            <li (click)="allotroom($event,item.roomno,item.status)">
                                {{item.roomno}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>