<header class="top-fixed">
    <div class="top-nav-bar">
        <!-- <li class="nav-item"><button (click)="openNav()"></button></li> -->
         <!-- <div class="top-nav-bar"> -->
            <ul class="nav" *ngFor="let module of menudata.moduleDTOList">
                <!-- <li style="width: 10%;justify-content: center;" (click)="openNav()">open</li> -->
            <li class="nav-item"><a id="{{module.pmoduleid}}" routerLink="{{module.pmodulenamehtml}}" (click)="openforms(module.pmoduleid)">{{module.pmodulename}}</a></li>
                <!-- <li class="nav-item"><a id="2" routerLink="chit">CHIT</a></li>
                <li class="nav-item"><a id="3" routerLink="loans">LOANS</a></li>
                <li class="nav-item"><a id="4" routerLink="transactions">TRANSACTIONS</a></li>
                <li class="nav-item"><a id="5" routerLink="reports">REPORTS</a></li> -->
                <!-- <li style="width: 35%;"></li>
                <li class="nav-item">notification<span class="badge badge-light">9</span></li>
                <li class="nav-item"><a  >logout</a></li> -->
            </ul>
            <ul class="nav">
            <li class="nav-item"><a href="/">LOGOUT</a></li>
            </ul>
        <!-- </div> -->
    </div>
</header>
<aside>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <!-- <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a> -->
        <div class="forms-menu">
            <!-- <ul *ngFor="let links of menudata.moduleDTOList;index as i"> -->
            <!-- <li><a></a></li> -->
            <ul *ngFor="let form of formcomponents" class="inner-forms-menu">
                <li class="side-nav-item"><a id="{{form.pformid}}" routerLink="{{form.pformNamehtml}}">{{form.pformName}}</a></li>
            </ul>
                <!-- </ul> -->
        </div>
      </div>
</aside>
<!-- <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0px";
    }
    </script> -->
<main>
    <div id="main-content">
        <!-- <button (click)="openNav()">&#9776;</button> -->
        <router-outlet></router-outlet>
    </div>
</main>